@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


:root {
    --accent-color: #596D48;
    --input-border-color: #E5E7EB;
    --invalid-input-border-color: red;
    --selected-input-border-color: blue;

    --section-left-padding: 48px;

    --shadows: #CCCCCC 5px 5px 5px;
}

body {
    margin: 0;
    padding: 0;

    height: 100vh;
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
}

/* ASIDE STYLES */

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: inherit;
    flex: 1 1 0;

    background-image: url('imgs/aside.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

div.logo-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 30%);
    padding: 16px 0;
    max-height: fit-content;
    width: 100%;
}

div.logo-bar img {
    height: 200px;
}

div.logo-bar h1 {
    font-size: 148px;
    margin: 0;
    font-family: 'Norse';
    color: white;
}

aside p,
aside a,
aside a:visited,
aside a:hover {
    color: white;
}

/* SECTION STYLES */

section {
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #EEEEEE;
}

section h2 {
    margin-left: var(--section-left-padding);
    max-inline-size: 56ch;
}

div.card {
    background-color: white;
    padding: var(--section-left-padding);

    margin: 6vh 0;
    box-shadow: var(--shadows);
}

div.card h2 {
    margin-top: 0;
    margin-left: 0;
}

div.form-row {
    display: flex;
    gap: 48px;
    margin: 24px 0;
}

div.form-col {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: small;
    font-weight: 900;
    color: #444444;
}

div.form-col input {
    border-color: var(--input-border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    padding: 8px 16px;

    width: 36ch;
}

div.form-col input:invalid {
    border-color: var(--invalid-input-border-color);
}

div.form-col input:focus {
    box-shadow: #CCCCCC 3px 3px 3px;
    border-color: var(--selected-input-border-color);
    border-style: solid;

    outline: none;
}

section button {
    width: fit-content;

    margin-left: var(--section-left-padding);

    border-style: none;
    color: white;
    font-weight: 900;
    font-size: medium;
    background-color: var(--accent-color);
    padding: 12px 48px;
    border-radius: 5px;

    box-shadow: var(--shadows);
}

section p {
    margin-left: var(--section-left-padding);
}

section p a {
    text-decoration: none;
    font-weight: 900;
}

section p a,
section p a:hover,
section p a:visited {
    color: var(--accent-color);
}