@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


:root {
    --accent-color: #596D48;
    --input-border-color: #E5E7EB;
    --invalid-input-border-color: red;
    --selected-input-border-color: blue;

}

body {
    margin: 0;
    padding: 0;

    height: 100vh;
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
}

/* ASIDE STYLES */

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: inherit;
    flex: 1 1 0;

    background-image: url('imgs/aside.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

div.logo-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 160px;
    background-color: rgba(0, 0, 0, 30%);
    padding: 16px 0;
    max-height: fit-content;
}

div.logo-bar img {
    height: 200px;
}

div.logo-bar h1 {
    font-size: 148px;
    margin: 0;
    font-family: 'Norse';
    color: white;
}

aside p,
aside a,
aside a:visited,
aside a:hover {
    color: white;
}

/* SECTION STYLES */

section {
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}